<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hulk.mtindo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".Login">

        </activity>
        <activity android:name=".Post_update">
        </activity>
        <activity android:name=".Createstore">

        </activity>
        <activity android:name=".Maint">

        </activity>
        <activity android:name=".SplashScreen">
        </activity>

        <activity android:name=".StoreCardView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyAppIntro">

        </activity>

        <activity android:name=".Beauty">

        </activity>

        <activity android:name=".Update_manager">

        </activity>

        <activity
            android:name=".Signin"
            android:label="@string/title_activity_signin"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
